@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
h1 {
	color: white;
}
body {
	font-family: 'Roboto', sans-serif;
	/*background-color: #201f1d;*/
	background-image: url(../default/background.jpg);
}
.container {
	display: flex;
	width: 100%;
	height: 900px;;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

header {
	align-items: center;
    display: flex;
    flex-direction: row;
    height: 7rem;
    padding: 10px 15px;
    position: fixed;
	width: 100%;
}

ul {
	position: absolute;
	top: 25%;
	left: 60%;
	display: flex;
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
	padding: 15px;

}

ul li a {
	position: relative;
	text-align: center; 
	color: #FFFFFF;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	padding: 5px 25px;
}
ul li a:hover {
	color: #000000;
	background: #FF0000;
}
ul li a:before {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	border: 1px solid #FF0000;
	border-width: 0 0 3px 3px;
	transition: 0.5s;
	opacity: 0;
}
ul li a:hover:before {
	bottom: -6px;
	left: -6px;
	opacity: 1;
}
ul li a:after {
	content: '';
	position: absolute;
	top: 2px;
	right: 4px;
	width: 12px;
	height: 12px;
	border: 1px solid #FF0000;
	border-width: 3px 3px 0 0;
	transition: 0.5s;
	opacity: 0;
}
ul li a:hover:after {
	top: -6px;
	right: -6px;
	opacity: 1;
}